body{
    margin: 0;
    width: 99vw;
    height: 96vh;
}
img{
    width:101%;
    height:103%;
    position: relative;
    background-size: cover;
    filter: blur(5px);
}
.btn1, .btn2{
    position: absolute;
    background-color: #cd69be;
    color: #ffffffc9;
    width: 10cm;
    height: 1.5cm;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.btn1{
    top: 50%;
    left: 40%;
}
.btn2{
    top: 60%;
    left: 40%;
}
a:link, a:visited{
    text-decoration: none;
    color: #ffffffc9;
}
button:hover{
    background-color: #aaacfb;
}
